a{
    text-decoration: none;
    color: #6190e8;
    font-family: Consolas,Menlo,Courier,monospace;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Consolas,Menlo,Courier,monospace;
}
code{
    padding: 0 .5em;
    font-size: .9em;
    vertical-align: middle;
    border: 1px solid #ececec;
    border-radius: 2px;
    background-color: #f7f7f7;
    font-family: Consolas,Menlo,Courier,monospace;
   
}

p{
    padding: 0;
    line-height: 1.7;
    color: #3f536e;
    font-size: 14px;
    font-family: Consolas,Menlo,Courier,monospace;
}
li{
    padding: 0;
    line-height: 1.7;
    color: #3f536e;
    font-size: 14px;
    font-family: Consolas,Menlo,Courier,monospace;
}
h1,h2, h3,h4,h5 {
    margin: 16px 0;
    line-height: 1.5;
    font-family: Consolas,Menlo,Courier,monospace;
}
h2{
    font-size: 18px;
    font-family: Consolas,Menlo,Courier,monospace;
}
h1{
    font-size: 24px;
    font-family: Consolas,Menlo,Courier,monospace;
}
hr {
    margin: 1.2em 0;
    border: 0;
    border-bottom: 1px solid #c5d9e8;
}
.js,.bash,.html{
    margin: 16px 0;
    background-color: #f7f7f7;
    overflow: auto;
    font-family: Consolas,Menlo,Courier,monospace;
    color: #3f536e;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}